h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;
  padding-top: 10px;
}